/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/jwt/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/html/bundles/
/html/assets/vendor
/html/assets/elfinder
/html/assets/jquery
/html/assets/jquery-ui
/node_modules
/html/css
/html/css/*
/html/js/rde.js
/html/media
.idea/
/composer.lock
/BacktoBasic.zip
/components/*
/html/*.zip
/html/*.log
/html/js/rde_v3_10.js?1.0.0.js