// Variables

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;



/* colors */

$color1: #011834;
$color1_rgb: rgb(1, 24, 52);

$color1_1: #0A2B4C;
$color1_1_rgb: rgb(10, 43, 76);

$color2: #592836;
$color2_rgb: rgb(89, 40, 54);

$color3: #E7EEF6;
$color3_rgb: rgb(231, 238, 246);

$color4: #5D5D5D;
$color4_rgb: rgb(93, 93, 93);

$color5: #E1E1E7;
$color5_rgb: rgb(225, 225, 231);

$color6: #4A7689;
$color6_rgb: rgb(74, 118, 137);

$color7: #ECECF2;
$color7_rgb: rgb(236, 236, 242);

$color8: #647687;
$color8_rgb: rgb(100,118,135);

$color9: #3b5570;
$color9_rgb: rgb(55,85,112);

$color10: #B1B1BE;
$color10_rgb: rgb(177,177,190);

$color11: #eeeef4;
$color11_rgb: rgb(238, 238, 244);

$white_rgb: rgb(255, 255, 255);

/* end colors*/

/* opacities */

$op_90: 0.9;
$op_80: 0.8;
$op_70: 0.7;
$op_half: 0.5;
$op_20: 0.2;
$op_0: 0;

/* end opacities */

/* sizes */

$full: 100%;
$half: 50%;
$fourth: 25%;

/* end sizes*/
