<div class="banner banner3">
    <div class="opacicidad"></div>
    <div  class="item" style="background-image: url({{ qi.imagen('banner_products') }})">
        <div class="no_header">
            <div class="center_H">
                <h1>CATEGORÍAS</h1>
            </div>
            {% include('@Home/Default/breadcrumb.html.twig') %}
        </div>
    </div>
</div>
