<div class="remodal" data-remodal-id="aceptar_ciudad" style="width: auto" data-remodal-options="hashTracking: false, closeOnOutsideClick: false">
    <div class="productos complementos">
        <div class="item">
            <p>Al cambiar la ciudad puede perder los productos agregados al carrito</p>
            <a class="add_complemento" id="aceptar_ciudad" href="#">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>aceptar</span>
            </a>
            <a class="add_complemento" id="cancelar_ciudad" href="">
                <i class="fa fa-times" aria-hidden="true"></i>
                <span>cancelar</span>
            </a>
        </div>
    </div>
</div>