<div class="remodal" data-remodal-id="complementos_prods" style="width: auto">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="productos complementos">
        <div class="item">
            <p>{{ qi.textoDB('agregar_complemento') }}</p>
            <a class="add_complemento" href="{{ path('productos') }}">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span>{{ qi.textoDB('ver_productos') }}</span>
            </a>
        </div>
    </div>
</div>